<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Pucko</title>
    <style>
        body {
            margin: 0;
        }

        .navbar {
            overflow: hidden;
            background-color: black;
            position: fixed;
            top: 0;
            width: 100%;
            margin-bottom: 50%;
        }

            .navbar a {
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

                .navbar a:hover {
                    background: #ddd;
                    color: black;
                }
    </style>
</head>
<body>
    <font face="arial,helvetica" size="">
        <div class="navbar">
            @Html.ActionLink("Datamanipulering", "Index", "Home")
            @Html.ActionLink("Formulär", "form", "Home")
            <a style="float:right;" href="#news">
               Gruppledare - Login successful!
            </a>
        </div>

        <hr />
        <div class="container body-content">
            @RenderBody()
            <hr />
        </div>
        @RenderSection("Scripts", required: false)
</body>
</html>
